
body {
  background-image: url('/images/burgerBackground.jpg');
  background-size: cover;
  color: #f2f2f2;
}

h1 {
  text-align: center;
  margin: auto;
  font-weight: bolder;
  color: red;
}

h2 {
  text-align: center;
  margin: auto;
  color: yellow;
}

#addABurger {
  color: red;
}

#burgerName {
  float: left;
}

#tasteGood {
  float: right;
}

#ca {
  text-align: center;
  border-radius: 25px;
}

label {
  font-weight: bold;
}

ul {
  list-style-type: none;
}

li {
    padding: 5px;
    margin: 5px;
    background: #f2f2f2;
    text-align: center;
    color: black;
    font-weight: bolder;
    border-radius: 25px;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  button {
    border-radius: 25px;
    float: right;
  }
