
body {
  background-image: url('/images/burgerBackground.jpg');
  background-size: cover;
  color: #f2f2f2;
}

h1 {
  text-align: center;
  margin: auto;
}

h2 {
  text-align: center;
  margin: auto;
}

#burgerName {
  float: left;
}

#tasteGood {
  float: right;
  display: inline;
}

ul {
  list-style-type: none;
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
    text-align: center;
    color: black;
    font-weight: bolder;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  